header {
	font-size: 5em;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: light-grey;
 }

h1, p {
	font-weight: lighter;
	text-align: center;
}

p {
	font-size: 1.5em;
	margin: 0px;
}
