header {
	font-size: 5em;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: light-grey;
    background-image: url('back.png');
 }

h1, p {
	font-weight: lighter;
	text-align: center;
}

p {
	font-size: 2.5em;
	margin: 0px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#main {
	padding-top: 10em;
}